﻿@using Web_CNPMNC_DA_HeThongATM.Models.ViewModel

@model TheNganHangViewModel

@{
    Layout = "_LayoutMain";
}
<body>


    <div class="container">

        <div class="card-container">

            <div class="front">
                <div class="image">
                    <img src="/images/chip.png" alt="">
                    <img src="/images/visa.png" alt="">
                </div>
                <div class="card-number-box">################</div>

                <div class="flexbox">
                    <div class="box">
                        <div class="card-name-customer">
                        </div>
                        <div class="card-holder-name">
                        </div>
                    </div>
                    <div class="box">
                        <span>expires</span>
                        <div class="expiration">
                            <span class="exp-month">mm</span>
                            <span class="exp-year">yy</span>
                        </div>
                    </div>
                </div>
            </div>

            <div class="back">
                <div class="stripe"></div>
                <div class="box">
                    <span>cvv</span>
                    <div class="cvv-box"></div>
                    <img src="image/visa.png" alt="">
                </div>
            </div>

        </div>

        <form method="post" asp-controller="CreditCard" asp-action="CreateCard">
            <div class="flexbox">
                <div class="inputBox">
                    <span>Căn cước công dân
                        <i class="fa-solid fa-pen-to-square"></i>
                    </span>
                    <input type="text" maxlength="16" id="makhachhang" asp-for="MaKH">
                </div>
                <div class="inputBox">
                    <span>Tên Khách Hàng
                        <i class="fa-solid fa-pen-to-square"></i>
                    </span>
                    <input type="text" maxlength="16" class="tenkhachhang">
                </div>
            </div>
            <div class="flexbox">
                <div class="inputBox">
                    <span>Số Điện Thoại
                        <i class="fa-solid fa-pen-to-square"></i>
                    </span>
                    <input type="text" maxlength="16" class="sdt" asp-for="SDTDangKy">
                </div>
                <div class="inputBox">
                    <span>Ngày Mở Thẻ
                        <i class="fa-solid fa-pen-to-square"></i>
                    </span>
                    <input type="text" maxlength="16" asp-for="NgayMoThe">
                </div>
            </div>
            <div class="flexbox">
                <div class="inputBox">
                    <span>số thẻ
                        <i class="fa-solid fa-pen-to-square"></i>
                    </span>
                    <input type="text" maxlength="16" class="card-number-input" asp-for="MaPIN">
                </div>
                <div class="inputBox">
                    <span>số tài khoản
                        <i class="fa-solid fa-pen-to-square"></i>
                    </span>
                    <input type="text" class="card-holder-input" asp-for="MaSoThe">
                    
                </div>
             
               
            </div>
            <div class="flexbox">
                <button type="button" class="btn btn-danger submit-btn"> <i class="fa fa-long-arrow-left"></i>  BACK</button>
                          
                <input type="submit" value="submit" class="submit-btn">
                
            </div>
           
        </form>

    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    

    </script>
</body>



