﻿@using Web_CNPMNC_DA_HeThongATM.Models.ViewModel

@model TheNganHangViewModel

@{
    Layout = "_LayoutMain";
}
<body>
    @*	<form method="post" asp-controller="CreateCard" asp-action="CreateCard" class="col-md-12">
    <div class="col-lg-8">
    <div class="card">
    <div class="card-header"><strong>CusTomer</strong></div>
    <div class="card-body card-block">
    <div class="form-group">

    <label for="company" class=" form-control-label">Mã Căn Cước Công Dân</label>
    <input type="number" asp-for="CCCD" id="cccd" class="form-control"></div>
    <div class="row form-group">
    <div class="col-md-8">
    <label for="vat" class="form-control-label">Tên Khách Hàng</label>
    <input type="text" asp-for="Tenkh"  class="form-control"></div>

    <div  class="col-md-4">
    <div >
    <label class=" form-control-label">Giới tính</label>
    </div>
    <div>
    <div class="form-check-inline form-check">
    <label for="inline-radio1" class="form-check-label col-md-7">
    <input type="radio" id="inline-radio1" name="Gioitinh" value="Nam" asp-for="Gioitinh" class="form-check-input">Nam
    </label>
    <label for="inline-radio2" class="form-check-label col-md-6">
    <input type="radio" id="inline-radio2" name="Gioitinh" value="Nữ" asp-for="Gioitinh" class="form-check-input">Nữ
    </label>
    </div>
    </div>
    </div>
    </div>
    <div class="row form-group">
    <div class="col-md-3">
    <label for="sonha" class="form-control-label">Số nhà:</label>
    <input type="text" id="sonha" class="form-control">
    </div>
    <div class="col-md-3">
    <label for="phuongxa" class="form-control-label">Phường/Xã:</label>
    <input type="text" id="phuongxa" class="form-control">
    </div>
    <div class="col-md-3">
    <label for="quanhuyen" class="form-control-label">Quận/Huyện:</label>
    <input type="text" id="quanhuyen" class="form-control">
    </div>
    <div class="col-md-3">
    <label for="tinhthanh" class="form-control-label">Tỉnh/Thành phố:</label>
    <input type="text" id="tinhthanh" class="form-control">
    </div>
    <input type="hidden" asp-for="Diachi" id="Diachi" class="form-control">
    </div>

    <div class="row form-group">
    <div class="col-md-6">
    <label for="country" class=" form-control-label">Email</label>
    <input type="email"  asp-for="Email"  class="form-control">
    </div>
    <div class="col-md-6">
    <label for="country" class=" form-control-label">Số Điện Thoại</label>
    <input type="number" asp-for="Sdt"  class="form-control">
    </div>
    </div>
    <div class="form-actions form-group" style="margin-top:4px">
    <button type="submit" class="btn btn-primary btn-sm">Submit</button>
    </div>
    </div>
    </div>
    </div>
    </form>*@

    <div class="container">

        <div class="card-container">

            <div class="front">
                <div class="image">
                    <img src="/images/chip.png" alt="">
                    <img src="/images/visa.png" alt="">
                </div>
                <div class="card-number-box">################</div>

                <div class="flexbox">
                    <div class="box">
                        <div class="card-name-customer">
                        </div>
                        <div class="card-holder-name">
                        </div>
                    </div>
                    <div class="box">
                        <span>expires</span>
                        <div class="expiration">
                            <span class="exp-month">mm</span>
                            <span class="exp-year">yy</span>
                        </div>
                    </div>
                </div>
            </div>

            <div class="back">
                <div class="stripe"></div>
                <div class="box">
                    <span>cvv</span>
                    <div class="cvv-box"></div>
                    <img src="image/visa.png" alt="">
                </div>
            </div>

        </div>

        <form method="post" asp-controller="CreditCard" asp-action="CreateCard">
            <div class="inputBox">
                <span>Căn cước công dân</span>
                <input type="text" maxlength="16" id="makhachhang" asp-for="MaKH">
            </div>
            <div class="inputBox">
                <span>Tên Khách Hàng</span>
                <input type="text" maxlength="16" class="tenkhachhang">
            </div>
            <div class="inputBox">
                <span>Số Điện Thoại</span>
                <input type="text" maxlength="16" class="sdt" asp-for="SDTDangKy">
            </div>
            <div class="inputBox">
                <span>Ngày Mở Thẻ</span>
                <input type="text" maxlength="16" id="ngaymothe" asp-for="NgayMoThe">
            </div>
            <div class="inputBox">
                <span>số thẻ</span>
                <input type="text" maxlength="16" class="card-number-input" asp-for="MaPIN">
            </div>
            <div class="inputBox">
                <span>số tài khoản</span>
                <input type="text" class="card-holder-input" asp-for="MaSoThe">
            </div>
            <div class="flexbox">
                <div class="inputBox">
                    <span>Tháng hết hạn</span>
                    <input type="text" id="thanghethan" class="month-input">
                </div>
                <div class="inputBox">
                    <span>Năm hết hạn</span>
                    <input type="text" id="namhethan" class="year-input">
                    @* <select name="" id="" class="year-input">
                    <option value="year" selected disabled>year</option>
                    <option value="2021">2021</option>
                    <option value="2022">2022</option>
                    <option value="2023">2023</option>
                    <option value="2024">2024</option>
                    <option value="2025">2025</option>
                    <option value="2026">2026</option>
                    <option value="2027">2027</option>
                    <option value="2028">2028</option>
                    <option value="2029">2029</option>
                    <option value="2030">2030</option>
                    </select>*@
                    <input type="hidden" id="ngayhethan" asp-for="NgayHetHan" />
                </div>
                <div class="inputBox">
                    <span>Loại Thẻ</span>
                    <select asp-for="LoaiThe" class="type-card">
                        <option value="Loại" selected disabled>Loại</option>
                        <option value="Redit">Redit</option>
                        <option value="Visa">Visa</option>
                        <option value="Non">Non</option>
                    </select>
                </div>
            </div>
            <input type="submit" value="submit" class="submit-btn">
        </form>

    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="/js/form-card.js">

    </script>
</body>