﻿@using Web_CNPMNC_DA_HeThongATM.Models.ViewModel

@model TheNganHangViewModel

@{
    Layout = "_LayoutMain";
}
<body>
    @if (TempData["Message"] != null)
    {
        <div class="sufee-alert alert with-close alert-primary alert-dismissible fade show">
            <span class="badge badge-pill badge-primary">Thành Công</span>
            @TempData["Message"]
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">×</span>
            </button>
        </div>
    }
    else if (TempData["Fail"] != null)
    {
        <div class="sufee-alert alert with-close alert-danger alert-dismissible fade show">
            <span class="badge badge-pill badge-danger">Thất Bại</span>
            @TempData["Fail"]
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">×</span>
            </button>
        </div>
    }

    <div class="container">

        <div class="card-container">

            <div class="front">
                <div class="image">
                    <img src="/images/chip.png" alt="">
                    <img src="/images/visa.png" alt="">
                </div>
                <div class="card-number-box">################</div>

                <div class="flexbox">
                    <div class="box">
                        <div class="card-name-customer">
                        </div>
                        <div class="card-holder-name">
                        </div>
                    </div>
                    <div class="box">
                        <span>expires</span>
                        <div class="expiration">
                            <span class="exp-month">mm</span>
                            <span class="exp-year">yy</span>
                        </div>
                    </div>
                </div>
            </div>

            <div class="back">
                <div class="stripe"></div>
                <div class="box">
                    <span>cvv</span>
                    <div class="cvv-box"></div>
                    <img src="image/visa.png" alt="">
                </div>
            </div>

        </div>

        <form method="post" asp-controller="CreditCard" asp-action="CreateCard">
            <div class="flexbox">
                <div class="inputBox">
                    <span>Căn cước công dân</span>
                    <input type="text" maxlength="16" id="makhachhang" asp-for="MaKH">
                </div>
                <div class="inputBox">
                    <span>Tên Khách Hàng</span>
                    <input type="text" maxlength="16" class="tenkhachhang">
                </div>
            </div>
            <div class="flexbox">
                <div class="inputBox">
                    <span>Số Điện Thoại</span>
                    <input type="text" maxlength="16" class="sdt" asp-for="SDTDangKy">
                </div>
                <div class="inputBox">
                    <span>Ngày Mở Thẻ</span>
                    <input type="text" maxlength="16" id="ngaymothe" asp-for="NgayMoThe">
                </div>
            </div>
             <div class="flexbox">
                <div class="inputBox">
                    <span>số thẻ</span>
                    <input type="text" maxlength="16" class="card-number-input" asp-for="MaPin">
                </div>
                <div class="inputBox">
                    <span>số tài khoản</span>
                    <input type="text" class="card-holder-input" asp-for="MaSoThe">
                </div>
            </div>      
            <div class="flexbox">
                <div class="inputBox">
                    <span>Tháng hết hạn</span>
                    <input type="text" id="thanghethan" class="month-input">
                </div>
                <div class="inputBox">
                    <span>Năm hết hạn</span>
                    <input type="text" id="namhethan" class="year-input">
                    @* <select name="" id="" class="year-input">
                    <option value="year" selected disabled>year</option>
                    <option value="2021">2021</option>
                    <option value="2022">2022</option>
                    <option value="2023">2023</option>
                    <option value="2024">2024</option>
                    <option value="2025">2025</option>
                    <option value="2026">2026</option>
                    <option value="2027">2027</option>
                    <option value="2028">2028</option>
                    <option value="2029">2029</option>
                    <option value="2030">2030</option>
                    </select>*@
                    <input type="hidden" id="ngayhethan" asp-for="NgayHetHan" />
                </div>
                <div class="inputBox">
                    <span>Loại Thẻ</span>
                    <select asp-for="LoaiThe" class="type-card">
                        <option value="Loại" selected disabled>Loại</option>
                        <option value="adkasdglwekb">TD</option>
                        <option value="adkasdglwekb">GN</option>
                    </select>
                </div>
            </div>
            <input type="submit" value="submit" class="submit-btn">
        </form>

    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="/js/form-card.js">

    </script>
    @if (ViewBag.SuccessMessage != null)
    {
        <div class="sufee-alert alert with-close alert-primary alert-dismissible fade show">
            <span class="badge badge-pill badge-primary">Success</span>
            @ViewBag.SuccessMessage
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">×</span>
            </button>
        </div>
    }
</body>



