@using Web_CNPMNC_DA_HeThongATM.Models.ViewModel;
@{
    Layout = "~/Views/Shared/_LayoutMain.cshtml";
    var year = DateTime.Now.Year;
}
@model BankStatement

<body>
<!-- Content -->
<div class="content" style="background: #F1F2F7; height: calc(100vh - 55px); margin:0">
    <!-- Animated -->
    <div class="animated fadeIn">
        <!-- Widgets  -->
        <div class="row">
            <!-- nam -->
            <div class="col-lg-3 col-md-3">
                <div class="card">
                    <div class="card-body">
                        <div class="stat-widget-five">
                            <label for="fromDate">Năm:</label>
                            <input asp-for="year" type="number" min="1900" max="@year" id="year" name="year" style="background-color:beige" onclick="CountYear()" onchange="CountYear()">
                        </div>
                    </div>
                </div>
            </div>
            @*thang*@
            <div class="col-lg-3 col-md-3">
                <div class="card">
                    <div class="card-body">
                        <div class="stat-widget-five">
                            <label for="fromDate">Tháng:</label>
                                <input asp-for="month" type="number" min="1" max="12" id="month" name="month" style="background-color:beige" onclick="CountMonth()" onchange="CountMonth()">
                        </div>
                    </div>
                </div>
            </div>
            <!-- Giao dịch -->
            <div class="col-lg-3 col-md-6" id="GiaoDich" >
                <div class="card">
                    <div class="card-body">
                        <div class="stat-widget-five">
                            <div class="stat-icon dib flat-color-2">
                                <i class="menu-icon fa fa-retweet"></i>
                            </div>
                            <div class="stat-content">
                                <div class="text-left dib">
                                    <div class="stat-text"><span class="count" id="count">2</span></div>
                                    <div class="stat-heading">Giao dịch</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
           
        </div>
        <!-- /Widgets -->
        <!--  Traffic  -->
        <div class="row">
            <div class="col-lg-12">
                <div class="card">
                    <div class="card-body">
                        <h4 class="box-title">Thống kê giao dịch </h4>
                    </div>
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="card-body">
                                <!-- <canvas id="TrafficChart"></canvas>   -->
                                <canvas id="traffic-chart" class="traffic-chart"></canvas>
                            </div>
                        </div>
                        @*    <div class="col-lg-4">
                        <div class="card-body">
                        <canvas id="card-type"></canvas>
                        </div> <!-- /.card-body -->
                        </div>*@
                    </div> <!-- /.row -->
                    <div class="card-body"></div>
                </div>
            </div><!-- /# column -->
        </div>
        <!--  /Traffic -->
        <div class="clearfix"></div>

    </div>
    <!-- .animated -->
</div>

<script>

        function CountYear() {
            var year = document.getElementById("year").value;
           
           
            $.ajax({
                type: "GET",
                url: "../../Statement/CountYear",
                contentType: "application/json",
                data: JSON.stringify(year),
                success: function (data) {


                    document.getElementById("count").innerHTML = data;
                    document.getElementById("GiaoDich").style.display = "block";


                },
                error: function () {
                    alert("Ngu vcl");
                }
            });
        }


    function CountMonth() {
        var year = document.getElementById("year").value;
        var month = document.getElementById("month").value;
      
        var inputData = {
            year: 2023,
            month: 0,
        };
        $.ajax({
            type: "GET",
            url: "../../Statement/CountMonth",
            contentType: "application/json",
            data: JSON.stringify(inputData),
            success: function (data) {
              

                document.getElementById("count").innerHTML = data;
                document.getElementById("GiaoDich").style.display = "block";


            },
             error: function () {
                    alert("Ngu vcl");
                }
        });
    }

    document.addEventListener('DOMContentLoaded', function () {
        main();
     

        function main() {
            customerStatistics();
            //cardTypeStatistics();
        }

        // Thống kê khách hàng
        function customerStatistics() {
            // Lấy ngày hiện tại
            var today = new Date();
            var date = today.getFullYear();

            $.ajax({
                type: "GET",
                    url: "../../Statement/BankStatement",
                success: function (data) {
                    //var listMonth = [Object.keys(data)][0];
                    //var listQuantity = [Object.values(data)][0];

                    // render
                    const customerChart = document.getElementById('traffic-chart');
                    new Chart(customerChart, {
                        type: "line",
                        data: {
                            labels: ['1','2','3','4','5','6','7'],
                            datasets: [
                                {
                                    fillColor: "rgba(220,220,220,0.2)",
                                    strokeColor: "rgba(220,220,220,1)",
                                    data: [65, 59, 80, 81, 56, 55, 40]
                                },
                                {
                                    fillColor: "rgba(151,187,205,0.2)",
                                    strokeColor: "rgba(151,187,205,1)",
                                    data: [28, 48, 40, 19, 86, 27, 90]
                                }
                            ],
                        },
                        options: {
                            scales: {
                                y: {
                                    beginAtZero: true,
                                    ticks: {
                                        callback: function (value, index, values) {
                                            // Định dạng giá trị là số nguyên
                                            return parseInt(value);
                                        },
                                    },
                                },
                            },
                        },
                    });
                },
                error: function () {
                    alert("Đã xảy ra lỗi khi lấy thông tin");
                }
            });
        }

     
    })
</script>
</body>