.topform {
    display: flex;
}

.form-control {
    border-radius: 20px;
    border: 1px
}
/*-------------------listcard*/


/* Style the container */
.orangehrm-container {
    background-color: #e8eaef;
    padding: 0.5rem;
}



/* Style the table */
.oxd-table {
    color: var(--oxd-interface-gray-darken-1-color, #64728c);
    font-family: Nunito Sans, sans-serif;
    font-size: .75rem;
    display: flex;
    flex-direction: column;
}

/* Style table header */
.oxd-table-header {
    font-weight: 700;
    display: flex;
    flex-direction: column;
}

    .oxd-table-header th {
        text-align: left;
    }

/* Style table rows */
.oxd-table-row {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    height: 100%;
    padding-left: 5px;
    padding-right: 5px;
}

/* Style alternating rows */
.backgr {
    background-color: #f2f2f2;
}

/* Style table cells */
.oxd-table-cell {
    text-align: left;
}

.oxd-padding-cell {
    padding: 5px;
}

.oxd-table-body {
    font-weight: 400;
    display: grid;
    grid-gap: 5px;
}

.oxd-table-card {
    min-height: 45px;
    border-radius: 1.2rem;
    background-color: var(--oxd-white-color, #fff);
}

.oxd-table-row {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    height: 100%;
    padding-left: 5px;
    padding-right: 5px;
}

.oxd-table-body {
    font-weight: 400;
    display: grid;
    grid-gap: 5px;
}

/* Style checkboxes */
.oxd-checkbox-wrapper {
    display: inline-block;
    vertical-align: middle;
    margin-right: 10px;
}

.oxd-checkbox-input-icon {
    color: var(--oxd-primary-font-color, #fff);
    font-size: 1rem;
    position: absolute;
    line-height: 1.5;
    align-self: center;
}

/* Style icons */
.oxd-icon {
    font-size: 16px;
    vertical-align: middle;
    margin-right: 5px;
}

/* Style buttons */

.oxd-icon-button {
    font-size: 18px;
    font-weight: 400;
    border-radius: 50%;
    border: 0;
    cursor: pointer;
    min-width: 36px;
    min-height: 36px;
    padding: 6px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: var(--oxd-interface-gray-darken-1-color, #64728c);
    background-color: var(--oxd-interface-gray-darken-1-alpha-10-color, rgba(100, 114, 140, .1));
}

.oxd-table-row {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    height: 100%;
    padding-left: 5px;
    padding-right: 5px;
}

.orangehrm-bottom-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-end;
    padding: 25px;
    background-color: #befeee;
}

.orangehrm-paper-container {
    background-color: #befeee;
    border-radius: 1.2rem;
}

.oxd-table-cell {
    overflow-wrap: break-word;
    word-break: break-word;
}

.oxd-padding-cell {
    padding: 5px;
}

.oxd-table-card-cell-checkbox {
    width: -moz-fit-content;
    width: fit-content;
}

.oxd-checkbox-wrapper label {
    cursor: pointer;
    display: flex;
    align-content: center;
    font-family: Nunito Sans, sans-serif;
    color: #64728c;
    font-size: 12px;
    font-weight: 400;
    width: -moz-fit-content;
    width: fit-content;
}

.oxd-divider {
    margin-top: 0;
    margin-bottom: 0;
}

.oxd-divider {
    border: 0;
    border-top: 1px solid var(--oxd-interface-gray-lighten-2-color, #e8eaef);
}

.orangehrm-horizontal-margin {
    margin-left: 25px;
    margin-right: 25px;
}

.orangehrm-vertical-padding {
    padding-top: 25px;
    padding-bottom: 25px;
}

.orangehrm-horizontal-padding {
    padding-left: 25px;
    padding-right: 25px;
}

body {
    color: var(--oxd-interface-gray-darken-1-color, #64728c);
    font-family: Nunito Sans, sans-serif;
    margin-top: 0;
    margin-bottom: 0;
}

.oxd-table-cell-actions {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 5px;
    align-items: center;
}

text--span {
    color: var(--oxd-interface-gray-darken-1-color, #64728c);
}

.oxd-tex {
    font-family: Nunito Sans, sans-serif;
    margin-top: 0;
    margin-bottom: 0;
}

.content {
    width: 100%;
    text-transform: inherit;
}

.oxd-table-cell oxd-padding-cell {
    padding: 5px;
}

.oxd-table-cell div {
    text-align: center;
}
