﻿@using Web_CNPMNC_DA_HeThongATM.Models.ViewModel
@model LoaiTheViewModel
@{
    Layout = "~/Views/Shared/_LayoutMain.cshtml";
}
<body>

    <div id="custom-dialog" title="Thông báo" style="display: none;"></div>

    <form method="post" asp-controller="ManageCardTypes" asp-action="CreateTypesCard">
               <div class="col-lg-12">
            <div class="card">
                <div class="card-header"><strong>Tạo loại thẻ</strong></div>
                <div class="card-body card-block">
                    <div class="form-group">
                        <div class="col-md-8" style="margin-left">
                            <label for="vat" class="form-control-label">Mã loại thẻ</label>
                            <input type="text" asp-for="MaLoaiTNH" class="form-control">
                        </div>
                        <div class="col-md-8" style="margin-left">
                            <label for="vat" class="form-control-label">Tên loại thẻ</label>
                            <input type="text" asp-for="TenTNH" class="form-control">
                        </div>
                        <div class="col-md-8" style="margin-left">
                            <label for="vat" class="form-control-label">Hạn mức lại thẻ</label>
                            <input type="text" asp-for="HanMucLoaiThe" class="form-control">
                        </div>
                    </div>
                    <div class="form-actions form-group" style="margin-top:4px">
                        <button type="submit" class="btn btn-primary btn-sm">Tạo thẻ</button>
                    </div>
                </div>
            </div>
        </div>

    </form>

</body>