@using Web_CNPMNC_DA_HeThongATM.Models.ViewModel

@model LoaiTheViewModel
@{
    Layout = "_LayoutMain";
    var TypesListList = ViewData["TypesCardList"] as IEnumerable<LoaiTheViewModel>;
}
<body>
    <div class="col-lg-12">
        <div class="card">
            <div class="card-header">
                <strong class="card-title">Danh sách Loại Thẻ</strong>
            </div>
            <div class="table-stats order-table ov-h">
                <table class="table ">
                    <thead>
                        <tr>
                            <th style="width:10%">Mã Loại Thẻ</th>
                            <th style="width:15%">Tên Loại Thẻ</th>
                            <th style="width:15%">Hạn mức loại thẻ</th>
                            <th style="width:15%">Chức năng</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in TypesListList)
                        {
                            <tr>
                            <tr>
                                <td>@item.MaLoaiTNH</td>
                                <td>@item.TenTNH</td>
                                <td>@item.HanMucLoaiThe</td>
                                <td>Xem nè</td>

                            </tr>
                            </tr>
                        }
                    </tbody>
                </table>
            </div> <!-- /.table-stats -->
        </div>
    </div>
</body>