@using Web_CNPMNC_DA_HeThongATM.Models.ViewModel

@model LaiSuatViewModel
@{
    Layout = "_LayoutMain";
    var laisuatlist = ViewData["aben"] as IEnumerable<LaiSuatViewModel>;

}
<body>
    <div class="col-lg-12">
        <div class="card">
            <div class="card-header">
                <tr>
                    <th><strong class="card-title">Danh sách Lãi suất</strong></th>
                    
                   <a asp-controller="ManageInterestRate" asp-action="CreateLaiSuat">
                    <button asp-controller="ManageInterestRate" asp-action="Delete" class="btn btn-primary"> Thêm mới </button> 
                   </a>
                </tr>
            </div>
            <div class="table-stats order-table ov-h">
                <table class="table ">
                    <thead>
                        <tr>
                            <th style="width:10%">Mã lãi suất</th>
                            <th style="width:15%">Kỳ hạn</th>
                            <th style="width:15%">Tỉ lệ</th>
                            <th style="width:3.2%">Chức năng</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in laisuatlist)
                        {
                            <tr>
                            <tr>
                                <td>@item.Key</td>
                                <td>@item.KyHan</td>
                                <td>@item.TiLe</td>
                                <td>
                                    <div class="oxd-table-cell-actions" style="flex: 1 1 0%;">
                                        <button type="button" class="oxd-icon-button delete-button" data-toggle="modal" data-target="#deleteModal">
                                            <i class="fa-solid fa-trash-can"></i>
                                        </button>
                                        <button type="button" class="oxd-icon-button edit-button" data-toggle="modal" data-target="#editModal">
                                            <i class="fa-solid fa-pen-to-square"></i>
                                        </button>
                                    </div>
                                </td>
                            </tr>
                            </tr>
                        }
                    </tbody>
                </table>
            </div> <!-- /.table-stats -->
            <!-----------------------------------------form delete -------------------------------------------------------->

            <form method="post" asp-controller="ManageInterestRate" asp-action="DeleteLaiSuat"
                      class="formbold-chatbox-form">
            <div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="deleteModalLabel">Xóa lãi suất</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <p>Có chắc là muốn xóa không?</p>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                            <button asp-controller="ManageInterestRate" asp-action="Delete" class="btn btn-danger" id="confirmDeleteButton">Delete</button>
                        </div>
                    </div>
                </div>
            </div>
            </form>

            <!-----------------------------------------form edit -------------------------------------------------------->
            <form method="post" asp-controller="ManageInterestRate" asp-action="EditLaiSuat"
                      class="formbold-chatbox-form">
            <div class="modal fade" id="editModal" tabindex="-1" role="dialog" aria-labelledby="editModalLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="editModalLabel">Chỉnh sửa lãi suất</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <form id="editForm">
                                <div class="form-group">
                                    <label for="editKyHan">Kỳ hạn</label>
                                        <input type="text" asp-for="KyHan" aria-required="true" aria-invalid="false" class="form-control" id="editKyHan" name="editKyHan">
                                </div>
                                <div class="form-group">
                                    <label for="editTiLe">Tỉ lệ</label>
                                        <input type="text" asp-for="TiLe" aria-required="true" aria-invalid="false" class="form-control" id="editTiLe" name="editTiLe">
                                </div>
                            </form>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                <button asp-controller="ManageInterestRate" asp-action="EditLaiSuat" class="btn btn-primary" id="saveButton">Save</button>
                        </div>
                    </div>
                </div>
            </div>
            </form>
        </div>
    </div>
</body>