<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools" >

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.App_CNPMNC_DA_HeThongATM"
        tools:targetApi="31" >
        <activity
            android:name=".AgreeActivity"
            android:exported="false" />
        <activity
            android:name=".Activities.AddNewAccount"
            android:exported="false" />
        <activity
            android:name=".Activities.EditAccountNicknameActivity"
            android:exported="false" />
        <activity
            android:name=".Activities.ChangePasswordActivity"
            android:exported="false" />
        <activity
            android:name=".Activities.AccountSettingsActivity"
            android:exported="false" />
        <activity
            android:name=".Activities.SearchServiceFunctionActivity"
            android:exported="false" />
        <activity
            android:name=".Activities.UnlockCardActivity"
            android:exported="false" />
        <activity
            android:name=".Activities.LockCardActivity"
            android:exported="false" />
        <activity
            android:name=".Activities.ConfirmLockCardActivity"
            android:exported="false" />
        <activity
            android:name=".Activities.AccountCardActivity"
            android:exported="false" />
        <activity
            android:name=".Activities.TransferMoneyActivity"
            android:exported="false" />
        <activity
            android:name=".Activities.AddEditBeneficiaryActivity"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true" />
        <activity
            android:name=".Activities.BeneficiaryManagementActivity"
            android:exported="false" />
        <activity
            android:name=".Activities.ManageAccountAndCardActivity"
            android:exported="false" />
        <activity
            android:name=".Activities.NewaccountActivity"
            android:exported="false" />
        <activity
            android:name=".Activities.AgreeActivity"
            android:exported="false" />
        <activity
            android:name=".Activities.LoginActivity"
            android:exported="true"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".WithdrawSavingsActivity" />
        <activity android:name=".ListAccountSavingsActivity" />
        <activity android:name=".NotificationActivity" />
        <activity android:name=".ActivityListGD" />

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>